.bacgI{
  overflow: hidden;
    background: url(../images/xuhua.png) no-repeat;
    background-size: cover;
}
.qin{
  z-index: 10;
}
/**
 * 面包屑导航
 */
.breadcrumb {
  /*centering*/
  position:fixed;
  top:20px;
  left:50px;
  box-shadow: 0 0 15px 1px rgba(255,255,255, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  z-index: 100;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  color: white;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
  border: 1px solid #C6A387;
}

.breadcrumb a:first-child {
  padding-left: 46px;

  border-radius: 5px 0 0 5px;
  /*to match with the parent's radius*/
}

.breadcrumb a:first-child:before {
  left: 14px;
}
.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

.breadcrumb a.active,
.breadcrumb a:hover {
  background: #333;
  background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after,
.breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  /*stylish arrow design using box shadow*/
  box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);

  border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  /*some styles now*/
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  text-align: center;
  background: #444;
  background: linear-gradient(#444, #222);
  font-weight: bold;
}

.flat a,
.flat a:after {
  background: white;
  color: black;
  transition: all 0.5s;
}

.flat a:before {
  background: white;
  box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover,
.flat a.active,
.flat a:hover:after,
.flat a.active:after {
  background: #9EEB62;
}

/**
 * 抽屉盒子个人简介
 */
.accordion {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    margin-top: 150px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
}
.accordion ul {
    width: 1000px;
    height: 100%;
}
.accordion ul li {
    width: 200px;
    height: 300px;
    overflow: hidden;
    float: left;
}
.accordion ul li:nth-child(1){
    background-color: #de3f18;
}
.accordion ul li:nth-child(2){
    background-color: #2e415f;
}
.accordion ul li:nth-child(3){
    background-color: #2fafb7;
}
.accordion ul li:nth-child(4){
    background-color: #8C4B7E;
}
.accordion ul li:first-child{
    width: 400px;
}
.accordion ul li p {
    line-height: 26px;
    text-align: center;
    color: #000;
}
.accordion ul li .toux {
    width: 200px;
    height: 300px;
    float: left;
    font-size: 20px;
    box-sizing: border-box;
    /*border-right: 1px solid #fff;*/
    /*overflow: hidden;*/
    position: relative;
}
.accordion ul li .toux p{
    margin-top: 20px;
    font-weight: 700;
    z-index: 10;
}
.accordion ul li .toux .tx{
    z-index: 10;
}
.accordion ul li .toux .tou-mask{
    height: 500px;
    background-color: rgba(255,255,255,0.15);
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 1;
    transform-origin: center center;
    transition: all .7s ease 0.1s;
}
.accordion ul li .toux:hover .tou-mask{
    -webkit-transform: scale(2,2) skew(-30deg) translate3d(0,0,0);
    -ms-transform: scale(2,2) skew(-30deg) translate3d(0,0,0);
    transform: scale(2,2) skew(-30deg) translate3d(0,0,0);
}
.accordion ul li .toux .tou-mask-order{
    width: 200px;
    -webkit-transform: skew(-30deg) translate3d(0,0,0);
    -ms-transform: skew(-30deg) translate3d(0,0,0);
    transform: skew(-30deg) translate3d(0,0,0);
}
.accordion ul li .toux .tou-mask-clc{
    width: 400px;
    -webkit-transform: skew(-30deg) translate3d(0,0,0);
    -ms-transform: skew(-30deg) translate3d(0,0,0);
    transform: skew(-30deg) translate3d(0,0,0);
}


.accordion ul li .acc-about{
    background-color: #de3f18;
}
.accordion ul li .acc-about p{
    color: #f1c40f;
}
.accordion ul li .acc-yx{
    background-color: #2e415f;
}
.accordion ul li .acc-yx p{
    color: #2faeb6;
}
.accordion ul li .acc-ins{
    background-color: #2fafb7;
}
.accordion ul li .acc-ins p{
    color: #2e415f;
}
.accordion ul li .acc-evaluate{
    background-color: #8C4B7E;
}
.accordion ul li .acc-evaluate{
    color:#4a5453;
}
.accordion ul li .toux .tx {
    width: 200px;
    height: 200px;
    display: block;
}
.accordion ul li .role {
    width: 200px;
    height: 300px;
    float: left;
    opacity: 0;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    top: 30px;
}
.accordion ul li .role p{
    text-align: left;
    font-size: 14px;
    font-family: "宋体";
    color: #fff;
}
.accordion ul li .role-sty{
    padding-top: 50px;
    padding-left: 20px;
}
.accordion ul li .role-active{
    padding-right: 5px;
    width: 200px;
    animation: roleIn 1.5s ease .2s forwards;
}
@keyframes roleIn 
{
  from {opacity: 0;transform: translateY(0);}
  to {opacity: 1;transform: translateY(-30px);}
}
.accordion ul li:last-child {
    float: right;
}
.accordion ul li .role .myPhoto{
    width: 140px;
    height: 140px;
    margin-left: 15px;
    margin-bottom: 10px;
    background: url(../images/myPhoto1.jpg) top no-repeat;
    display: block;
    background-size: cover;
    border-radius: 50%;
    border: 2px dashed #fff;
}
.accordion ul li .tx2{
    background: url(../images/yixiang.svg) center no-repeat;
    background-size: contain;
}
.accordion ul li .tx1{
    background: url(../images/about.svg) center no-repeat;
    background-size: contain;
}
.accordion ul li .tx3{
    background: url(../images/inteast.svg) center no-repeat;
    background-size: contain;
}
.accordion ul li .tx4{
    background: url(../images/evaluate.svg) center no-repeat;
    background-size: contain;
}
.accordion ul li .role-phone{
    background: url(../images/sprite.png) no-repeat -85px 0;
}
.accordion ul li .role-qq{
    background: url(../images/sprite.png) no-repeat -28px 0;
}
.accordion ul li .role-email{
    background: url(../images/sprite.png) -150px 0 no-repeat;
}
.accordion ul li .basketball{
    background: url(../images/sprite.png) -120px 0 no-repeat;
}
.accordion ul li .Badminton{
    background: url(../images/sprite.png) -120px -30px no-repeat;
}
.accordion ul li .book{
    background: url(../images/sprite.png) 0 -30px no-repeat;
}
.accordion ul li .character{
    background: url(../images/sprite.png) -81px -30px no-repeat;
}
.accordion ul li .role-icon{
    width: 24px;
    height: 24px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
}