  .section4{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .contactMe{
    width: 100%;
    min-width: 1200px;
    height: 100%;
    position: relative;
    background-color: #F9F9F9;
  }
  .contactMe .contact-head{
    width: 100%;
    height: 100px;
    overflow: hidden;
  }

  .contactMe .contact-email{
    width: 40%;
    min-height: 350px;
    float: left;
  }
  .contactMe .contact-email form{
    margin: 50px 20px 0 50px;
    box-sizing: border-box!important;
  }
  .contactMe .contact-email form input,textarea{
    box-sizing: border-box;
  }
  .contactMe .contact-inform{
    width: 750px;
    min-height: 350px;
    padding-top: 70px;
    float: left;
    border-left: 2px solid #E5D2C1;
  }
  .contactMe .contact-inform .socialAccount{
    float: left;
    width: 260px;
    height: 100%;
    font-size: 18px;
    line-height: 40px;
    padding-left: 10px;
  }
    .contact-inform .socialAccount .role-icon{
        width: 24px;
        height: 24px;
        margin: 0 7px;
        display: inline-block;
        vertical-align: middle;
    }
    .contact-inform .socialAccount .role-phone-inform{
        background: url(../images/sprite.png) -58px 0 no-repeat;
    }
    .contact-inform .socialAccount .role-qq-inform{
        background: url(../images/sprite.png) 0 0 no-repeat;
    }
    .contact-inform .socialAccount .role-email-inform{
        background: url(../images/sprite.png) -175px 0 no-repeat;
    }
    .contact-inform .socialAccount .role-weixin-inform{
        background: url(../images/sprite.png) -30px -34px no-repeat;
    }
    .socialAccount span.qin{
      z-index: 10;
    }
  .contactMe .footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/footer-img.jpg) repeat;
  }
  .contactMe .sawtooth{
    width: 100%;
    height: 13px;
    position: absolute;
    top: -1px;
    left: 0;
    background: url(../images/sawtooth-img.png) repeat;
  }
  .contactMe #map{
    float: left;
    margin-left: 10px;
    border: 2px solid #fff;
    border-radius: 2px;
  }

  .footer p{
    margin-top: -9999px;
  }