.cssModel {
    width: 100%;
    min-width: 800px;
    height: 100%;
    background-color: lightblue;
    position: relative;
    overflow: hidden;
}
/*畅畅太阳 start*/
.cssModel .c3head{
    width: 100%;
    height: 30px;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 50px;
    left: 0;
}
.sun {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 50px;
    background-color: orange;
    position: absolute;
    top: 60px;
    left: 80px;
    box-shadow: #F2EE75;
}
.sun:before,.sun:after {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: #F2EE75;
    
}
.sun:before {
    animation: sun 2s linear infinite;
}
.sun:after {
    animation: sun 2s linear infinite 1s;
}
@keyframes sun
{
0%   {transform: scale(1); opacity: 0.4;}
100% {transform: scale(2); opacity: 0;}
}
.sun span {
    width: 6px;
    height: 70px;
    display: block;
    background-image: linear-gradient(180deg,orange 0%, orange 20%,transparent 20%, transparent 100%);
    transform-origin: 100% 100%; 
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -3px;
}
.shinel {
    height: 80px;
    top: -30px;
    background-image: linear-gradient(180deg,orange 0%, orange 25%,transparent 25%, transparent 100%);

}
.sunshine1 {
    position: absolute;
    animation:sunshine1 5s linear infinite;
    -moz-animation:sunshine1 5s linear infinite; /* Firefox */
    -webkit-animation:sunshine1 5s linear infinite; /* Safari and Chrome */
    -o-animation:sunshine1 5s linear infinite; /* Opera */
}
@keyframes sunshine1
{
0%   {transform: rotate(0deg) scale(1);}
50%   {transform: rotate(180deg) scale(1.5);}
100% {transform: rotate(360deg) scale(1);}
}
.sunshine2 {
    position: absolute;
    transform: rotate(45deg);
    animation:sunshine2 5s linear infinite;
    -moz-animation:sunshine2 5s linear infinite; /* Firefox */
    -webkit-animation:sunshine2 5s linear infinite; /* Safari and Chrome */
    -o-animation:sunshine2 5s linear infinite; /* Opera */
}
@keyframes sunshine2
{
0%   {transform: rotate(45deg) scale(1);}
50%   {transform: rotate(225deg) scale(1.5);}
100% {transform: rotate(405deg) scale(1);}
}
.sunshine3 {
    position: absolute;
    transform: rotate(90deg);
    animation:sunshine3 5s linear infinite;
    -moz-animation:sunshine3 5s linear infinite; /* Firefox */
    -webkit-animation:sunshine3 5s linear infinite; /* Safari and Chrome */
    -o-animation:sunshine3 5s linear infinite; /* Opera */
}
@keyframes sunshine3
{
0%   {transform: rotate(90deg) scale(1);}
50%   {transform: rotate(270deg) scale(1.5);}
100% {transform: rotate(450deg) scale(1);}
}
.sunshine4 {
    position: absolute;
    transform: rotate(135deg);
    animation:sunshine4 5s linear infinite;
    -moz-animation:sunshine4 5s linear infinite; /* Firefox */
    -webkit-animation:sunshine4 5s linear infinite; /* Safari and Chrome */
    -o-animation:sunshine4 5s linear infinite; /* Opera */
}
@keyframes sunshine4
{
0%   {transform: rotate(135deg) scale(1);}
50%   {transform: rotate(315deg) scale(1.5);}
100% {transform: rotate(495deg) scale(1);}
}
.sunshine5 {
    position: absolute;
    transform: rotate(180deg);
    animation:sunshine5 5s linear infinite;
    -moz-animation:sunshine5 5s linear infinite; /* Firefox */
    -webkit-animation:sunshine5 5s linear infinite; /* Safari and Chrome */
    -o-animation:sunshine5 5s linear infinite; /* Opera */
}
@keyframes sunshine5
{
0%   {transform: rotate(180deg) scale(1);}
50%   {transform: rotate(360deg) scale(1.5);}
100% {transform: rotate(540deg) scale(1);}
}
.sunshine6 {
    position: absolute;
    transform: rotate(225deg);
    animation:sunshine6 5s linear infinite;
    -moz-animation:sunshine6 5s linear infinite; /* Firefox */
    -webkit-animation:sunshine6 5s linear infinite; /* Safari and Chrome */
    -o-animation:sunshine6 5s linear infinite; /* Opera */
}
@keyframes sunshine6
{
0%   {transform: rotate(225deg) scale(1);}
50%   {transform: rotate(405deg) scale(1.5);}
100% {transform: rotate(585deg) scale(1);}
}
.sunshine7 {
    position: absolute;
    transform: rotate(270deg);
    animation:sunshine7 5s linear infinite;
    -moz-animation:sunshine7 5s linear infinite; /* Firefox */
    -webkit-animation:sunshine7 5s linear infinite; /* Safari and Chrome */
    -o-animation:sunshine7 5s linear infinite; /* Opera */
}
@keyframes sunshine7
{
0%   {transform: rotate(270deg) scale(1);}
50%   {transform: rotate(450deg) scale(1.5);}
100% {transform: rotate(630deg) scale(1);}
}
.sunshine8 {
    position: absolute;
    transform: rotate(315deg);
    animation:sunshine8 5s linear infinite;
    -moz-animation:sunshine8 5s linear infinite; /* Firefox */
    -webkit-animation:sunshine8 5s linear infinite; /* Safari and Chrome */
    -o-animation:sunshine8 5s linear infinite; /* Opera */
}
@keyframes sunshine8
{
0%   {transform: rotate(315deg) scale(1);}
50%   {transform: rotate(495deg) scale(1.5);}
100% {transform: rotate(675deg) scale(1);}
}
/*畅畅太阳 end*/
/*田地和花朵 start*/
.field1 {
    width: 100%;
    height: 50%;
    /*background-color: green;*/
    position: absolute;
    bottom: -10%;
    left: 0;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    background: -webkit-radial-gradient(top center,rgba(81,186,12,1),rgba(106,248,11,1));
}
.field2 {
    width: 100%;
    height: 30%;
    /*background-color: green;*/
    position: absolute;
    bottom: -10%;
    left: 0;
    border-top-left-radius: 50% 80%;
    border-top-right-radius: 50% 80%;
    background: -webkit-radial-gradient(top center,rgba(64,152,5,1),rgba(106,248,11,1));
}
.flower {
    width: 5px;
    height: 30px;
    border-radius: 20%;
    /*background: #53C308;*/
    
}
.branch{
    width: 6px;
    height: 30px;
    border-radius: 20%;
    background: #53C308;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.branchsta{
    animation: branch 3s linear forwards;
}
@keyframes branch
{
    from{height: 30px;}
    to{height: 85px;}
}
/*花瓣 start*/
.blow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -50px;
    left: -30px;
    opacity: 0;
    
}
.blowsta {
    animation: blows 5s ease forwards 3s;
}
@keyframes blows
{
    from{opacity: 0;}
    to{opacity: 1;}
}
.leaf {
    width: 30px;
    height: 30px;
    border-radius: 30px 0px;
    background:linear-gradient(45deg, rgba(188,190,192,1) 8%, rgba(158,31,99,1) 30%, rgba(158,31,99,1) 100%);
    opacity: 0.7;
    filter:alpha(opacity=50);
    transform: rotate(135deg);
    transform-origin:  top right;
    position: absolute;
    top: 0;
    left: 3px;
}
.leaf1 {
    animation: leaf1 3s linear forwards 6s;
}
@keyframes leaf1
{
    from{transform: rotate(135deg);}
    to{transform: rotate(105deg);}
}
.leaf2 {
    animation: leaf2 3s linear forwards 6s;
}
@keyframes leaf2
{
    from{transform: rotate(135deg);}
    to{transform: rotate(165deg);}
}
.leaf3 {
    animation: leaf3 3s linear forwards 6s;
}
@keyframes leaf3
{
    from{transform: rotate(135deg);}
    to{transform: rotate(75deg);}
}
.leaf4 {
    animation: leaf4 3s linear forwards 6s;
}
@keyframes leaf4
{
    from{transform: rotate(135deg);}
    to{transform: rotate(195deg);}
}
/*花瓣 end*/
/*小草的位置 start*/
.flo1 {
    position: absolute;
    bottom: 8%;
    left: 16%;
}

.flo2 {
    position: absolute;
    bottom: 13%;
    left: 63%;
}
.flo3 {
    position: absolute;
    bottom: 22%;
    left: 22%;
}
.flo4 {
    position: absolute;
    bottom: 27%;
    left: 57%;
}
.flo5 {
    position: absolute;
    bottom: 17%;
    left: 10%;
}
.flo6 {
    position: absolute;
    bottom: 27%;
    left: 35%;
}
.flo7 {
    position: absolute;
    bottom: 20%;
    left: 72%;
}
.flo8 {
    position: absolute;
    bottom: 11%;
    left: 29%;
}
.flo9 {
    position: absolute;
    bottom: 30%;
    left: 67%;
}
.flo10 {
    position: absolute;
    bottom: 21%;
    left: 85%;
}
/*小草的位置 end*/
/*小草的叶子 start*/
.flower:after {
    content: "";
    width: 16px;
    height: 28px;
    position: absolute;
    top: -20px;
    left: -4px;
    border-radius: 50%;
    border: 1px solid rgba(67,164,3,0.5);
    background-color:#53C308;
    background: -webkit-radial-gradient(bottom,rgba(67,164,3,1),rgba(100,237,8,1));
    transform-origin: bottom center;
    transform: rotate(40deg);
    animation: flo_right 3s ease infinite;
}
@keyframes flo_right 
{
0% {transform: rotate(40deg);}
50% {transform: rotate(60deg);}
100% {transform: rotate(40deg);}
}
.flower:before {
    content: "";
    width: 16px;
    height: 28px;
    position: absolute;
    top: -22px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(67,164,3,0.5);
    background-color:#53C308;
    background: -webkit-radial-gradient(bottom,rgba(67,164,3,1),rgba(100,237,8,1));
    transform-origin: bottom center;
    transform: rotate(-30deg);
    animation: flo_left 3s ease infinite;
}
@keyframes flo_left 
{
0% {transform: rotate(-30deg);}
50% {transform: rotate(-50deg);}
100% {transform: rotate(-30deg);}
}
/*小草的叶子 end*/
/*田地和花朵 end*/
/*菜菜 start*/
.caicai {
    width: 150px;
    height: 220px;
    position: absolute;
    top: 37%;
    left: 40%;
    z-index: 20;
    animation:ghostUpdown 1s infinite alternate;
}
@keyframes ghostUpdown{
    from{margin-top:0px;}
    to{margin-top:30px;}
}

.caicai img {
    animation: caicai 5s ease infinite;
}
/*菜菜的眼睛 start*/
.leftEye {
    width: 24px;
    height: 20px;
    border-radius: 50% 50%;
    background-color: #000;
    position: absolute;
    top: 144px;
    left: 38px;
}
.leftEye:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: yanmou 4s linear infinite;
}

.leftEye:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: 55%;
    left: 40%;
    margin-left: -2px;
}
.rightEye {
    width: 24px;
    height: 20px;
    border-radius: 50% 50%;
    background-color: #000;
    position: absolute;
    top: 144px;
    right: 38px;
}
.rightEye:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: 0;
    left: 10px;
    animation: yanmou 4s linear infinite;
}
@keyframes yanmou{
    0% {left:10px;top: 1px;}
    25%{left:6px;top: 2px;}
    50% {left:10px;top: 1px;}
    75% {left:15px;top: 4px;}
    100% {left:10px;top: 1px;}
}
.rightEye:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: 55%;
    left: 40%;
    margin-left: -2px;
}
/*菜菜的眼睛 end*/
/*看到畅畅，菜菜脸红了 start*/
.lianhong_L {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:rgba(248,50,148,1);
    position: absolute;
    top: 175px;
    left: 40px;
}
.lianhong_L:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(248,50,148,1);
    animation: lianhong 2s ease infinite;
}
@keyframes lianhong 
{
    from {transform: scale(1);opacity: 0.6;}
    to{transform: scale(2.5);opacity: 0;}
}

.lianhong_R {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:rgba(248,50,148,1);
    position: absolute;
    top: 175px;
    right: 40px;
}
.lianhong_R:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(248,50,148,1);
    animation: lianhong 2s ease infinite;
}
@keyframes lianhong 
{
    from {transform: scale(1);opacity: 0.5;}
    to{transform: scale(2.5);opacity: 0;}
}
/*看到畅畅，菜菜脸红了 end*/
.shadow_cai {
    width: 120px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 9%;
    left: 48%;
    background-color: #000;
    z-index: 10;
    animation:shadow 1s infinite alternate;
}
@keyframes shadow{
    from{opacity:0.1;width: 140px;}
    to{opacity:0.3;width: 120px;}
}

/*菜菜 end*/
/*云彩 start*/
.cloud {
    position: absolute;
    top: 90px;
    left: -20%;
    animation: cloud 60s linear infinite;
}
.cloud2 {
    position: absolute;
    top: 30px;
    left: -20%;
    animation: cloud 60s linear infinite 20s;
}
@keyframes cloud
{
    from{left: -10%;}
    to{left: 110%;}
}
/*云彩 end*/